.nuestros_beneficios {
    text-align: center;
    color: white;
    background-color: black;
}

.contenedor{
    display: grid;
    flex-direction: column;
    gap: 1rem;
    /* padding: 1rem; */
    width: 100%;
    
}

.caja{
    border: solid 1px;
    width: 100px;
    height: 60px;
    background: rgb(161,20,20);
    background: linear-gradient(90deg, rgba(161,20,20,1) 22%, rgba(97,29,90,1) 65%);
    display: grid;
    place-items: center;
    transition: all 1.5s;
    transition-timing-function: ease-out;
}


.caja:hover{
    width: 100%;
    background-color:rgb(46, 134, 168);
}

.caja{
    animation-name: caja;
    animation-duration: 5s;
    animation-iteration-count: 10;
    
}

@keyframes caja {
    100% {
        width: 100%;
    }
}
